.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.contact {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.bg {
	width: 100%;
	background-color: rgba(0, 0, 0, 0.2);
}
.heading-wwd {
	padding-top: 5px;
	text-align: center;
	font-style: italic;
}
.info {
	font-family: "Verdana", sans-serif;
	column-count: 2;
	padding-bottom: 30px;
}
@media(max-width: 768px) {
	.info {
		font-family: "Verdana", sans-serif;
		column-count: 1;
	}
}
@media(min-width: 992px ) {
	.center {
		display: flex;
		justify-content: center;
		align-items: center;
		padding-top: 20px;
	}
}
@media(min-width: 1200px ) {
	.center {
		display: flex;
		justify-content: center;
		align-items: center;
		padding-top: 90px;
	}
}